body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d2a2e;
    text-align: center; 
}

.orange {
    color: #fc9867;
}

#skills {
    color: #fc9867;
}

#links {
    color: #fc9867;
}

#aboutme {
    color: #cfd2ea
}

.cinza {
    color: #cfd2ea;
    font-size: 17px;
}

.green {
    color: #A6E22E;
{
